<%- include('layouts/header') %>

<div>
    <h1 class="font-mono text-3xl text-center my-4">Nuestros Clientes</h1>
    <div class="grid grid-cols-3 gap-10 mb-12 mt-8">
        <div class="col-span-1 relative">
            <div class=" bg-orange-500 w-10 h-96 rounded-l-xl">
               
            </div>
            <div class="bg-gray-100 absolute w-full h-full top-5 left-5 rounded-r-3xl border border-gray-300 p-5">
                <img class="object-cover object-center rounded-md shadow-gray-200 shadow-lg h-56 w-full" src="https://picsum.photos/400/300" alt="">
                <p class="font-serif text-center my-4 text-xl">Nombre Empresa</p>
                <p class="font-serif text-center my-4">Direccion </p>
            </div>
        </div>
        <div class="col-span-1 relative">
            <div class=" bg-black w-10 h-96 rounded-l-xl">
               
            </div>
            <div class="bg-orange-200 absolute w-full h-full top-5 left-5 rounded-r-3xl border border-gray-300 p-5">
                <img class="object-cover object-center rounded-md shadow-gray-200 shadow-lg h-56 w-full" src="https://picsum.photos/400/300" alt="">
                <p class="font-serif text-center my-4 text-xl">Nombre Empresa</p>
                <p class="font-serif text-center my-4">Direccion </p>
            </div>
        </div>
        <div class="col-span-1 relative">
            <div class=" bg-orange-500 w-10 h-96 rounded-l-xl">
               
            </div>
            <div class="bg-gray-100 absolute w-full h-full top-5 left-5 rounded-r-3xl border border-gray-300 p-5">
                <img class="object-cover object-center rounded-md shadow-gray-200 shadow-lg h-56 w-full" src="https://picsum.photos/400/300" alt="">
                <p class="font-serif text-center my-4 text-xl">Nombre Empresa</p>
                <p class="font-serif text-center my-4">Direccion </p>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>