<%- include('layouts/header') %>

<div>
    <div>
        <h1 class="font-mono text-3xl text-center my-4">¿Quienes Somos?</h1>
        <div class="grid grid-cols-3 gap-4">
            <div class="col-span-2 bg-gray-200 rounded-md border-2 border-gray-600 ">
                <p class="p-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quibusdam libero sunt molestias sequi maxime a. Ab libero, incidunt cupiditate possimus facere molestiae blanditiis maxime. Quo esse mollitia quas maxime? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corrupti sed natus architecto quas itaque eligendi, reiciendis dignissimos rerum beatae, deleniti reprehenderit velit deserunt, praesentium laudantium eos maiores in? Consectetur.Lorem</p>
                <p class="p-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt quibusdam libero sunt molestias sequi maxime a. Ab libero, incidunt cupiditate possimus facere molestiae blanditiis maxime. Quo esse mollitia quas maxime? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut corrupti sed natus architecto quas itaque eligendi, reiciendis dignissimos rerum beatae, deleniti reprehenderit velit deserunt, praesentium laudantium eos maiores in? Consectetur.Lorem</p>
            </div>
            <div class="col-span-1 h-50 w-50">
                <img class="object-cover object-center rounded-md shadow-blue-200 shadow-lg h-72 w-full" src="https://picsum.photos/400/300" alt="">
            </div>
        </div>
    </div>
    <div class="flex justify-between mt-5 bg-gray-100 rounded-md border border-gray-200">
        <div class=" w-full">
            <h1 class="text-2xl font-mono text-center mt-5">Vision</h1>
            <div class="grid grid-cols-2 gap-4 m-5">
                <div class="border-2 border-gray-300 rounded-md p-2 hover:bg-orange-500 hover:text-white">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos cumque, soluta est laboriosam nostrum itaque voluptate excepturi. Officiis esse quod ipsam aliquid voluptatem assumenda? Sed illo placeat blanditiis eos fuga.</p>
                </div>
                <div>
                    <img class="object-cover object-center rounded-md shadow-blue-200 shadow-lg h-48 w-full" src="https://picsum.photos/200/200" alt="">

                </div>
            </div>
        </div>
        <div class=" w-full">
            <h1 class="text-2xl font-mono text-center mt-5">Mision</h1>
            <div class="grid grid-cols-2 gap-4 m-5">
                <div class="border-2 border-gray-300 rounded-md p-2 hover:bg-orange-500 hover:text-white">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos cumque, soluta est laboriosam nostrum itaque voluptate excepturi. Officiis esse quod ipsam aliquid voluptatem assumenda? Sed illo placeat blanditiis eos fuga.</p>
                </div>
                <div>
                    <img class="object-cover object-center rounded-md shadow-blue-200 shadow-lg h-48 w-full" src="https://picsum.photos/200/200" alt="">

                </div>
            </div>
        </div>
    </div>
</div>


<%- include('layouts/footer') %>